@import './variables.scss';

.slick-slider {
  position: relative;

  .slick-track {
    display: flex;
    padding-top: 50px;
    overflow: hidden;
    z-index: 200;
   }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
}


a {
  display: inline-block;
  margin-top: 15px;
  color: var(--h2);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.projects {
  background: none;
  border-radius: 15px;
  box-shadow: var(--box);
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;

  h2 {
    text-align: center;
    margin: auto;
    padding: 20px 0;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }

  @media (max-width: 480px) {
    padding: 15px;
  }

  .card-main {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    padding: 17px;
    border-radius: 10px;
    box-shadow: var(--box);
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    h3 {
      font-size: large;
    }
  }

  .circle-div {
    background: var(--primary);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 0;

    .cover-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .card-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 19px;
  }

  .card-text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
  }

  .technologies {
    margin: 15px 0;

    .tech-button {
      background-color: var(--secondary);
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 5px 5px;
      color: white;
      transition: background-color 0.3s ease;
    }
  }

  .see-more {
    background-color: var(--accent);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: auto;
    display: flex;

    &:hover {
      background-color: var(--primary);
    }
  }
}