@import './variables.scss';

.projects {
  padding: 50px;
  background-color: var(--background);
  border-radius: 15px;
  box-shadow: var(--box);
  padding-top: 50px;
  position: relative;
}

.projects h2 {
  text-align: center;
  margin-bottom: 30px;
}

.slick-slider {
  position: relative;

  // Espacer les projets
  .slick-list {
    padding: 0 20px;  // Espacer les projets à gauche et à droite
  }
  
  .slick-track {
    display: flex;
    gap: 20px;  // Ajoute de l'espace entre les projets
  }

  .slick-prev, .slick-next {
    background-color: var(--secondary);
    color: white;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;  // Positionner les flèches au milieu verticalement
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;

    &:hover {
      background-color: var(--primary);
    }
  }

  .slick-prev {
    left: 10px;  // Ajuste la position à gauche
  }

  .slick-next {
    right: 10px;  // Ajuste la position à droite
  }
}

.project-card {
  background-color: var(--fourth);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box);
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  text-align: center;
  min-height: 400px;  // Fixer une hauteur minimale
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    background-color: var(--primary);
    transform: translateY(-5px);
  }

  .cover-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 10px;
  }

  .technologies {
    margin-bottom: 15px;

    .tech-button {
      background-color: var(--secondary);
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 5px;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--primary);
      }
    }
  }

  .details {
    margin-top: 15px;
  }

  .see-more {
    background-color: var(--accent);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }

  a {
    display: inline-block;
    margin-top: 15px;
    color: var(--h2);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .status {
    display: block;
    margin-top: 10px;
    color: var(--accent);
    font-weight: bold;
  }
}
