@import './variables.scss';

.projects {
  padding: 50px;
  background-color: var(--background);
  border-radius: 15px;
  box-shadow: var(--box);
  padding-top: 50px;
  position: relative;
  @media (max-width: 768px) {
    padding: 30px;
}

@media (max-width: 480px) {
    padding: 20px;
}
 h2 {
  text-align: center;
  margin-bottom: 30px;
}
}

.slick-slider {
  position: relative;
  
  .slick-track {
    display: flex;
    gap: 50px;
    padding-top: 50px;

    @media (max-width: 768px) {
      gap: 30px;
  }

  @media (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }
  }

   // Espacer les projets
   .slick-list {
    padding: 0 auto; // Espacer les projets à gauche et à droite
    overflow: hidden;
  }
}

.fa-circle-arrow-left,
.fa-circle-arrow-right {
  background-color: var(--secondary);
  color: white;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  font-size: 18px;

  &:hover {
    background-color: var(--primary);
  }

  &.fa-circle-arrow-left {
    left: 45%;
  }

  &.fa-circle-arrow-right {
    right: 45%;
  }
}

.project-card {
  background-color: var(--fourth);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box);
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  text-align: center;
  min-height: 400px; // Fixer une hauteur minimale
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;

  @media (max-width: 768px) {
    min-height: 300px;
}

@media (max-width: 480px) {
    min-height: 250px;
}

  &:hover {
    background-color: var(--primary);
    transform: translateY(-5px);
  }

  .cover-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px; 
    
    @media (max-width: 480px) {
      height: 150px;
  }
  }

  h3 .see-more {
    margin-bottom: 10px;

    @media (max-width: 480px) {
      font-size: 0.875rem;
  }
}

.technologies {
  margin-bottom: 15px;

  .tech-button {
    background-color: var(--secondary);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--primary);
    }
  }
}

.details {
  margin-top: 15px;
}

.see-more {
  background-color: var(--accent);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

a {
  display: inline-block;
  margin-top: 15px;
  color: var(--h2);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.status {
  display: block;
  margin-top: 10px;
  color: var(--accent);
  font-weight: bold;
}
}