:root[data-theme="light"] {
  --h1: #133a90;
  --h2: #c17871;
  --h3: #133a90;
  --h4: #133a90;
  --h5: #c17871;
  --text: #0a0029;
  --background: #f4f0ff;
  --primary: #c1b5d0;
  --secondary: #8896b5;
  --fourth: #eddfe4;
  --accent: #c17871;
  --box: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --border: 15px;
  --header_background: linear-gradient(to bottom, #8f799f, #e0d8f0);
  --hamburger_background: linear-gradient(to top, #8f799f, #e0d8f0);

}

:root[data-theme="dark"] {
  --h1: #f4f0ff;
  --h2: #8e453e;
  --h3: #f4f0ff;
  --h4: #f4f0ff;
  --h5: #8e453e;
  --text: #e0d6ff;
  --background: #1b1b2f;
  --primary: #423960;
  --secondary: #5a607a;
  --third: #2d2d44;
  --fourth: #2f2a3e;
  --accent: #c17871;
  --box: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --border: 15px;
  --header_background: linear-gradient(to bottom, #423960, #1b1b2f);
  --hamburger_background: linear-gradient(to top, #423960, #1b1b2f);
}

@import url('https://fonts.googleapis.com/css?family=Oxanium:700|Vollkorn:400');

body {
  font-family: 'Vollkorn';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxanium';
  font-weight: 700;
}

html {
  font-size: 100%
}

h1 {
  font-size: 3.053rem
}

h2 {
  font-size: 2.442rem
}

h3 {
  font-size: 1.954rem
}

h4 {
  font-size: 1.563rem
}

h5 {
  font-size: 1.250rem
}

small {
  font-size: 0.800rem
}